@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #283618;
  --background: #fafafa;
  --foreground: #1c1c1c;
}

*::selection {
  background: var(--primary);
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a,
input {
  -webkit-tap-highlight-color: transparent;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--background), 0 0 0 6px var(--primary);
  border-radius: 9999px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}
